{% extends 'core/base.html' %}
{% block title %} Welcome {% endblock %}

{% block content %}
<div class="mt-6 mx-auto max-w-screen-xl grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {% for item in items %}
    <div class="max-w-sm mx-auto rounded overflow-hidden shadow-lg">
        <a href="{% url 'item:detail' item.id %}">
            <div class="aspect-w-16 aspect-h-9">
                <img class="object-cover w-[300px] max-w-[300px] h-48 md:h-[400px] rounded-t-xl" src="{{item.image.url}}" alt="{{item.name}}">
            </div>
        </a>
        <div class="px-6 py-4">
            <h2 class="font-bold text-xl mb-2"><a href="{% url 'item:detail' item.id %}">{{item.name}}</a></h2>
            <p class="text-gray-700 text-base">Price: {{item.price}}</p>
        </div>
    </div>
    {% endfor %}
</div>

<div class="mt-6 mx-auto max-w-screen-xl grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {% for category in categories %}
    <div class="max-w-sm mx-auto rounded overflow-hidden shadow-lg">
        <a href="/">
            <div class="px-6 py-4 w-[300px] border">
                <h2 class="font-bold text-xl mb-2">{{category.name}}</h2>
                <p class="text-gray-500">{{category.items.count}} Items</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
